# SecureMailScope Environment Configuration
APP_NAME=SecureMailScope
ENVIRONMENT=development
DEBUG=true

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

POSTGRES_USER=securemailscope
POSTGRES_PASSWORD=SomeStrongPassword123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=securemailscope

DATABASE_URL=postgresql://securemailscope:SomeStrongPassword123@postgres:5432/securemailscope

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

MAX_PCAP_SIZE_MB=500

EVIDENCE_STORAGE_PATH=/app/data/evidence
ALLOWED_PCAP_EXTENSIONS=.pcap,.pcapng

TSHARK_BINARY=tshark
TSHARK_TIMEOUT_SECONDS=300

LOG_LEVEL=INFO

SECRET_KEY=f6d7d450ed2db809da74fb7f31c4fa3335876a4f7a433a69176ebaf00874ad8d